.footer {
  border-top: 0.5px solid #D9D9D9;
}

.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 120%;
}

.footer__container {
  margin-top: 26px;
}

.footer__top {

}

.footer__top__header {
  margin-bottom: 19px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__top__links {
  color: #007BFF;
}

.footer__top__links a {
  margin-right: 51px;
}

.footer__top__links a:last-child {
  margin-right: 0;
}

.footer__top__links a:hover {
  color: purple;
}

.footer__phone {
  margin-bottom: 6px;
}

.footer__phone_text {
  font-size: 24px;
  line-height: 120%;
  color: #3B4348;
  //white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__phone__bottom_text p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #A9B0B9;
}