.productDescr {
  margin-bottom: 80px;
  &__imgBlock {
    &__left {
      width: 100px;
      img {
        width: 100%;
      }
    }
    &__right {
      img {
        width: 100%;
      }
    }
  }
  &__descrBlock {
    &__title {
      font-size: 24px;
      margin-bottom: 18px;
    }
    &__rating {
      height: 20px;
      margin-bottom: 18px;
    }
    &__description {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &__stock {
      font-size: 12px;
      margin-bottom: 20px;
    }
    &__colors {
      font-size: 12px;
      margin-top: 20px;
      margin-bottom: 34px;
      p {
        font-size: 16px;
        margin-bottom: 16px;
      }
      img {
        padding: 2px;
        border: 1px solid transparent;
        border-radius: 50%;
      }
      img.active {
        padding: 2px;
        border: 1px solid black;
      }
      img:not(:last-child) {
        margin-right: 12px;
      }
    }
    &__dimension {
      p {
        font-size: 16px;
        margin-bottom: 12px;
      }
      ul {
        padding: 0;
        display: flex;
        list-style-type: none;
        li {
          height: 48px;
          font-size: 14px;
          border: 1px solid #BABABA;
          padding: 14px 20px;
          border-radius: 50px;
          line-height: 130%;
        }
        li.active {
          border: 1px solid black;
        }
        li:not(:last-child) {
          margin-right: 12px;
        }
      }
    }
  }
  &__priceBlock {
    &__quantity {
      display: flex;
      margin-bottom: 20px;
      p {
        font-size: 16px;
      }
      div {
        width: 150px;
        display: flex;
        justify-content: space-between;
        margin-left: 42px;
        border-bottom: 1px solid black;
      }
    }
    &__price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      &__actual {
        font-weight: bold;
        font-size: 44px;
        color: #DA3E31;
      }
      &__old {
        font-size: 20px;
        color: #B6B8B8;
        text-decoration: line-through;
      }
      &__discount {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 77px;
        height: 32px;
        font-size: 12px;
        font-weight: bold;
        background: #CDD454;
        border-radius: 4px;
      }
    }
    &__cartButton {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      &__addToCartButton {
        width: 296px;
        height: 48px;
        background: #DE5212;
        border-radius: 40px;
        border: none;
        color: white;
        font-size: 14px;
      }
      &__addToFavoriteButton {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: transparent;
        border: 1px solid #E3E3E3;
      }
    }
    &__buyButton {
      width: 100%;
      height: 48px;
      background: #1D1F1F;
      border-radius: 40px;
      border: none;
      color: white;
      margin-right: 16px;
      margin-bottom: 51px;
      font-size: 14px;
    }
    &__wishlist {
      display: flex;
      font-size: 14px;
      color: #5D5F5F;
      margin-bottom: 10px;
      p {
        margin-left: 10px;
      }
    }
    &__wishlist, &__delivery, &__order {
      font-size: 14px;
      color: #5D5F5F;
    }
  }
}

.grey {
  color: #5D5F5F;
}

.divider {
  height: 1px;
  background: #E3E3E3;
  opacity: 0.3
}