$neutral_darkest: #1D1F1F;
$neutral_darker: #5D5F5F;
$secondary_darkest: #DE5212;
$secondary_darker: #E9672B;
$secondary_lightest: #FBF8F5;

.main__carousel {
  margin-bottom: 100px;
  cursor: grab;
}

.main__carousel__container {
  margin-top: 43px;
  margin-bottom: 86px;
}

.main__carousel__heading {
  font-size: 36px;
  margin-bottom: 20px;
}

.main__carousel__text {
  font-weight: normal;
  font-size: 18px;
  color: #3B4348;
}

.main__carousel__span {
  font-size: 24px;
  color: #007BFF;
}

.main__carousel__button {
  margin-top: 66px;
}

.main__carousel__img {
  max-width: 100%;
}

//Расположение точек (Absolute - по умолчанию)
.main__carousel .slick-dots {
  bottom: 20px;
}

//Отступ между точками
.main__carousel .slick-dots li {
  margin: 0 4px;
}

//Неактивные точки
.main__carousel .slick-dots li button:before {
  font-size: 8px;
  color: #CCCCCC;
  opacity: 1;
}

//Неактивные точки
.main__carousel .slick-dots li.slick-active button:before {
  font-size: 13px;
  opacity: 1;
  color: $secondary_darkest;
}

//Последняя нажатая точка
.main__carousel .slick-dots li button:focus:before {
  opacity: 1;
}

//Фокус и ховер точки
.main__carousel .slick-dots li.slick-active button:focus:before,  .main__carousel .slick-dots li button:hover:before {
  opacity: 1;
  color: $secondary_darkest;
}
