@import '../../styles/commerce_styles/globals';

.footer__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: $secondary_lightest;
}

.footer__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer__middle {
  background: $neutral_darkest;
}

.footer__middle__container {
  padding-top: 60px;
  padding-bottom: 40px;
  margin-bottom: 16px;
  border-bottom: 1px solid #222424;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__logo_img {
  width: 100%;
}

.footer__logo__text {
  margin-top: 20px;
}

.footer__icons {
  display: flex;
  margin-top: 20px;
}

.footer__icons a {
  margin-right: 20px;
}

.footer__icons a:hover {
  opacity: 0.7;
}

.footer__middle_mid {
}

.footer__middle__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__middle__links a:hover {
  color: $secondary_darkest;
}

.footer__middle__links__item {
  display: flex;
  flex-direction: column;
}

.footer__middle__links__item:last-child {
  margin-right: 0;
}

.footer__middle__links a {
  margin-top: 20px;
}

.footer__middle__last {
  text-align: start;
}

.footer__input {
  margin-top: 20px;
  &__form {
    background: rgba(255,255,255, 0.1);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    input {
      background-color:transparent;
      border:0;
      height: 48px;
      width: 100%;
      color: #E3E3E3;
      //width: 450px;
      padding: 14px 12px 14px 24px;
    }
    input::placeholder {
      color: #E3E3E3;
    }
    input:focus {
      outline: none;
    }
    button {
      background: #E9672B;
      border: none;
      height: 48px;
      width: 48px;
      border-radius: 50%;
      padding: 14px 24px 14px 12px;
      display: flex;
      align-items: center;
      img {
        height: 24px;
        width: 24px;
      }
    }
    button:hover {
      img {
        opacity: 0.7;
      }
    }
  }
}

.footer__bottom__container {
  padding-bottom: 16px;
}

.footer__bottom__icons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__logo {
    margin-bottom: 40px;
  }

  .footer__middle_mid {
    margin-bottom: 40px;
  }
}