.promotions {
  margin-bottom: 100px;
}

.promotions__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: #3B4348;
}

.promotions__item {
  background: #F9F9F9;
  border-radius: 15px;
}

.promotions__item__left {
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.promotions__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 108%;
  margin-bottom: 20px;
}

.promotions__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 144%;
  margin-bottom: 20px;
}

.promotions__span {
  font-weight: 500;
}

.promotions__item__right {
  padding-right: 40px;
}

.promotions__img {
  max-height: 348px;
  max-width: 100%;
}

.promotions__button {
  width: auto;
  padding: .8rem 2.5rem;
  margin-top: 20px;
}