.map {
  margin-bottom: 100px;
}

.map__heading {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
}

.justMap {
  width: 100%;
  height: 400px;
}

.justMap .ymaps-2-1-78-inner-panes, .justMap .ymaps-2-1-78-map {
  border-radius: 15px;
}