@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Sofia Pro';
  src:
          url('../../public/fonts/SofiaProRegular.woff2') format('woff2'),
          url('../../public/fonts/SofiaProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src:
          url('../../public/fonts/SofiaProBold.woff2') format('woff2'),
          url('../../public/fonts/SofiaProBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src:
          url('../../public/fonts/SofiaProLight.woff2') format('woff2'),
          url('../../public/fonts/SofiaProLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sofia Pro", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5 {
  margin-bottom: 0;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $neutral_darker;
}

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: $neutral_darkest;
}

.heading-div {
  margin-bottom: 20px;
}

.button {
  border-radius: 40px;
  height: 48px;
  padding: 14px 55px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.button_outline {
  border: 1px solid $secondary_darkest;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  width: 50%;
  padding: .8rem 1rem;
  color: $secondary_darkest;
}

a:hover {
  color: $secondary_darkest;
}

.pagination {
  display: flex;
  justify-content: center;
  height: 32px;
  margin-top: 40px;
  li {
    font-size: 12px;
    height: 32px;
    width: 33px;
    span, a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #5D5F5F;
      font-weight: bold;
      border: 1px solid transparent;
      border-radius: 4px;
    }
    a:hover {
      color: #5D5F5F !important;
    }
    a:focus {
      box-shadow: none;
      color: #5D5F5F !important;
    }
  }
  li.active {
    span {
      background-color: #5D5F5F !important;
      border: 1px solid #5D5F5F !important;
    }
  }
  li:first-child, li:last-child {
    width: 51px;
    a {
      border: 1px solid #5D5F5F;
    }
  }
  li:not(:last-child) {
    margin-right: 5px;
  }
}

// при открытии модального окна появлялся паддинг 17px
.modal-open {
  padding-right: 0px !important;
}