@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Sofia Pro';
  src:
          url('../../public/fonts/SofiaProRegular.woff2') format('woff2'),
          url('../../public/fonts/SofiaProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src:
          url('../../public/fonts/SofiaProBold.woff2') format('woff2'),
          url('../../public/fonts/SofiaProBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src:
          url('../../public/fonts/SofiaProLight.woff2') format('woff2'),
          url('../../public/fonts/SofiaProLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sofia Pro", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h5 {
  margin-bottom: 0;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $neutral_darker;
}

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
}

.heading-div {
  margin-bottom: 20px;
}

.button {
  border: 1px solid $secondary_darkest;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  width: 50%;
  padding: .8rem 1rem;
  color: $secondary_darkest;
}

a:hover {
  color: $secondary_darkest;
}
