$neutral_darkest: #1D1F1F;
$neutral_darker: #5D5F5F;
$secondary_darkest: #DE5212;
$secondary_darker: #E9672B;
$secondary_lightest: #FBF8F5;

.newsLetter {
  margin-bottom: 100px;
  .heading-div {
    margin-bottom: 30px;
  }
  &__form {
    display: flex;
    justify-content: center;
    :first-child {
      margin-right: 20px;
    }
    .form-control {
      border-radius: 40px;
      height: 48px;
      //width: 450px;
      padding: 14px 24px;
    }
    .text-muted {
      display: flex;
      justify-content: center;
    }
  }
}
