$neutral_darkest: #1D1F1F;
$neutral_darker: #5D5F5F;
$secondary_darkest: #DE5212;
$secondary_darker: #E9672B;
$secondary_lightest: #FBF8F5;

.productList {
  margin-bottom: 100px;
}

.productList__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
  //width: 271.25px;
  //height: 296px;
}

.productList__image {
  display: flex;
  justify-content: center;
  height: 65%;
  cursor: pointer;
}

.productList__image_item {
  object-fit: contain;
  max-width: 100%;
}

.productList__body {
  //padding-top: 30px;
}

.productList__colors {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 18px;
}

.productList__colors button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
}

.productList__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $neutral_darker;
  text-align: center;
}

.productList__heading p {
  margin-bottom: 12px;
}

.productList__price {
  display: flex;
  justify-content: space-evenly;
}

.productList__price__text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: $neutral_darkest;
  text-align: center;
  margin-bottom: 5px;
}

.productList__price__text.active {
  color: #DA3E31;
}

.productList__price__text.old {
  color: #B6B8B8;
  font-weight: normal;
  text-decoration-line: line-through;
}

.productList__price__text.null {
  display: none;
}

.productList__item button {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $secondary_darkest;
}

.productList__item button:hover {
  color: $neutral_darkest;
}

.productList__item button:focus {
  box-shadow: 0 0 0 0.25rem rgb(222 82 18 / 25%);
}
